<div id="spot_image_container" class="spot_image_container">
  <img id="spot_image" class="analysis_image" src="<%= spot_image_url(@spot) %>?t=<%= Time.now.to_i %>" alt="<%=@spot.reference%>" title="<%=@spot.reference%>"></img>
</div>

<div id="button_row">
<%= render 'density_buttons' %>
</div>

<div id="skip_button_row">
  <div id="skip_dw">
    Cant tell? Dont worry!
    <br/>
    Why not try the next one...
  </div>
  <div id="skip_button">
  </div>
  <div class="clear"></div>
</div>

<div id="branding_row">
  <%= image_tag('branding.jpg', {width: '767px'}) %>
  <div class="clear"></div>
</div>